<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Budget</title>
        <link rel="stylesheet" type="text/css" href="/budget.css"></link>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
        </head>

    <body>
        <%= Username %>
        <section id="calcul">
            <div id="saisie">
                <form>
                    <fieldset>
                    <legend>Saisie des informations</legend>
                        <label for="nameA">Nom 1: </label>
                        <input id="nameA" type="text" name="nameA" value="" placeholder="Nom individu 1">

                        <label for="nameB">Nom 2:</label>
                        <input id="nameB" type="text" name="nameB" value="" placeholder="Nom individu 2">

                        <label id="labelRevenu1" for="revenu1">Revenu </label>
                        <input id="revenu1" type="number" name="revenu1" value="" placeholder="Revenu individu 1">

                        <label id="labelRevenu2" for="revenu2">Revenu </label>
                        <input id="revenu2" type="number" name="revenu2" value="" placeholder="Revenu individu 2">

                        <label for="aides">Aides</label>
                        <input id="aides" type="number" name="aides" value="">

                        <label for="solde1" id="labelSolde1">Solde </label>
                        <input id="solde1" type="number" name="solde1" value="">

                        <label for="solde2" id="labelSolde2">Solde </label>
                        <input id="solde2" type="number" name="solde2" value="">

                        <label for="soldeJoint">Solde joint</label>
                        <input id="soldeJoint" type="number" name="soldeJoint" value="">

                        <label for="areCompteJoint">Avez vous un compte joint?</label>
                        <input type="checkbox" name="areCompteJoin" id="areCompteJoint">
                    </fieldset>
                </form>
                <form>
                    <fieldset>
                    <legend>Informations déposées</legend>
                        <div id="Revenu1"></div><div id="span1"></div>
                        <div id="Revenu2"></div><div id="span2"></div>
                        <div id="RevenuTotaux"></div>
                        <div id="Aides"></div>
                        <div id="Divers"></div>
                        <div id="Solde1"></div>
                        <div id="Solde2"></div>
                        <div id="SoldeJoint"></div>
                        <div id="Frais"></div>
                    </fieldset>
                </form>
            </div>
            <div id="Frais">
                
                    <fieldset>
                    <legend>Informations comptabilisées</legend>    
                        <div id="Frais">
                            <form>
                                <label>Indiquez vos frais</label><br>
                                <label for="titre">Type:</label>
                                <input type="text" name="titre" id="titre">
                                <label for="valeur">Montant:</label>
                                <input type="number" name="valeur" id="valeur">
                            </form>
                            <button id="submit1" value="1" onclick="partage(this.value) , addFrais()">Compte </button>
                            <button id="submitJoin" value="2" onclick="partage(this.value), addFrais()">Compte joint</button>
                            <button id="submit2" value="3" onclick="partage(this.value), addFrais()">Compte </button>
                        </div>
                        <div id="frais">
                            <div id="divTitre"></div>
                        </div>
                        
                        <div id="valeurFinale"></div>
                        <button id="calcul" onclick="Calcul()"> Calcul </button>
                    </fieldset>
                
            </div>
        </section>

        <section id="resultats">
            <form>
                <fieldset id="individu1">
                <legend id="legend1">Nom individu 1</legend>
                    <div id="p1">

                    </div>
                </fieldset>

                <fieldset id="joint">
                    Pas de compte joint
                    </fieldset>

                <fieldset id="individu2">
                <legend id="legend2">Nom individu 2</legend>
                    <div id="p2">

                    </div>
                </fieldset>

                
            </form>
        </section>

        <script src="script.js"></script>
    </body>

</html>
